<% if empty_content? %>
  <div class="empty-content">
    <h3>Huuray! No Fasterer offences was found!</h3>
  </div>
<% end %>

<% fasterer_offences.each do |offence, occurrences| %>
  <div class="offence-section">
    <h4>
      <%= pretty_title(offence) %>
      <a href="<%= url_to_fast_ruby_repo(offence) %>">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </a>
    </h4>
    <small><%= offence_explanaition(offence) %></small>

      <% occurrences.each do |occurrence| %>
        <div class="offence-item">
          <p>file: <%= occurrence['path'] %></p>
          <p>
            lines:
            <% occurrence['lines'].each do |line| %>
              <a href="<%= url_to_github(occurrence, line) %>"><%= line %></a>
            <% end %>
          </p>
        </div>
      <% end %>

  </div>
<% end %>

<% unless fasterer_parse_errors.empty? %>
  <div class="parse-error-section">
    <h4>Parse error occured in following files:</h4>
    <div class="parse-error-items">
      <% fasterer_parse_errors.each do |error| %>
        <p><%= error['path'] %></p>
      <% end %>
    </div>
  </div>
<% end %>
